* {
  text-align: center;
}

header {
  border: solid 1px gray;
  text-align: center;
  width: 800px;
  margin: auto;
}

.counter-div {
  margin: 5px 85px;
}

.counter{
  display: none;  
  position: relative;
}

.hide-this{
  display: inline;
  color: white;
}

.correct-counter {
  left: -165px;
}

.question-counter {
  right: -165px;
}

.intro {
  text-align: center;
  max-width: 600px;
  border: solid 1px gray;
  margin-top: 15px;
}
.intro button {
  margin-bottom: 15px;
}

.quiz-container {
  text-align: left;
  max-width: 600px;
  height: 250px;
  border: solid 1px gray;
  margin-top: 15px;
  display: none;
}

.quiz-overlay {
  width: 600px;
  height: 250px;
  border: solid 1px gray;
  margin-top: 15px;
  background-color: green;
  position: absolute;
  display: none;
  left: 383px;
  z-index: 1000;
}

.quiz-container h2 {
  text-align: center;
}

li {
  list-style-type: none;
  text-align: left;
}

li label {
  margin-left: 20px;
  margin-top: 1px;
  font-weight: lighter;
  position: relative;
  text-align: left;
}

li input {
  position: absolute;
  margin-left: -40px;
}

button.submit {
  position: relative;
  margin: 0 10px 15px 10px;
}

button.next {
  position: relative;
  top: 50px;
}

.overlay-title {
  margin-top: 75px;
}