* {
  text-align: center;
  font-family: 'Podkova', serif;
}

body {
  background: url('images/psych-background1.jpeg') no-repeat top;
  background-size: cover;
}

header {
  text-align: center;
  width: 600px;
  margin: 235px auto auto auto;
}

.counter-div {
  margin: 5px 85px;
}

.counter{
  display: none;
  position: relative;
  font-family: 'Podkova', serif;
  font-size: 20px;
}

.hide-this{
  display: inline;
  color: white;
}

.correct-counter {
  left: -105px;
}

.question-counter {
  right: -105px;
}

.intro {
  text-align: center;
  max-width: 600px;
  border: solid 1px gray;
  margin-top: 15px;
  border-radius: 20px;
  background-color: whitesmoke;
}
.intro button {
  margin-bottom: 15px;
}

.quiz-container {
  text-align: left;
  max-width: 600px;
  max-height: 275px;
  border: solid 1px gray;
  margin-top: 15px;
  display: none;
  z-index: 1;
  background-color: whitesmoke;
  border-radius: 20px;
}

.quiz-overlay {
  width: 600px;
  height: 275px;
  border: solid 1px gray;
  margin-top: 15px;
  background-color: #5fb32a;
  display: relative;
  margin-right: auto;
  margin-left: auto;
  z-index: 1000;
  border-radius: 20px;
}

.final-overlay {
  width: 600px;
  height: 275px;
  border: solid 1px gray;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ADFF2F;
  display: block;
  z-index: 1000;
  border-radius: 20px;
}

/*.overlay {
  width: 600px;
  height: 250px;
  margin-top: 10px;
  background-color: white;
  position: absolute;
  display: none;
  left: 383px;
  opacity: 0.2;
  z-index: 00;
}
*/
.quiz-container h2 {
  text-align: center;
}

li {
  list-style-type: none;
  text-align: left;
}

li label {
  margin-left: 20px;
  font-weight: lighter;
  position: relative;
  text-align: left;
  font-size: 18px;
}

li input {
  position: absolute;
  margin-left: -40px;
}



button.submit, button.finish {
  position: relative;
  bottom: 30px;
}

button.next, button.final, button.new {
  position: relative;
  top: 50px;
}

button.finish, button.final {
  display: none;
}

.overlay-title {
  margin-top: 75px;
}

.correct-answer {
  display: none;
}

input[type=radio] {
    margin: 5px 0 0;
}

button {
  background: #52e36f;
  background-image: -webkit-linear-gradient(top, #70d265, #1c8535);
  background-image: -moz-linear-gradient(top, #70d265, #1c8535);
  background-image: -ms-linear-gradient(top, #70d265, #1c8535);
  background-image: -o-linear-gradient(top, #70d265, #1c8535);
  background-image: linear-gradient(to bottom, #70d265, #1c8535);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

button:hover {
  background: #17d63e;
  background-image: -webkit-linear-gradient(top, #5fb32a, #0f5e22);
  background-image: -moz-linear-gradient(top, #5fb32a, #0f5e22);
  background-image: -ms-linear-gradient(top, #5fb32a, #0f5e22);
  background-image: -o-linear-gradient(top, #5fb32a, #0f5e22);
  background-image: linear-gradient(to bottom, #5fb32a, #0f5e22);
  text-decoration: none;
}

button:focus {outline:0;}
